body {
  background-color: aqua !important;
  /* background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
  background-image: linear-gradient(
    to right top,
    #125ed0,
    #33a3e4,
    #008793,
    #00bf72,
    #77a710
  );
  height: 100vh;

  background: linear-gradient(125deg, #fdff9c 0%, #0500ff 100%),
    linear-gradient(180deg, #d3d3d3 0%, #161616 100%),
    linear-gradient(
      310deg,
      #00f0ff 0%,
      #00f0ff 20%,
      #0017e3 calc(20% + 1px),
      #0017e3 40%,
      #000f8f calc(40% + 1px),
      #000f8f 70%,
      #00073f calc(70% + 1px),
      #00073f 100%
    ),
    linear-gradient(
      285deg,
      #ffb6b9 0%,
      #ffb6b9 35%,
      #fae3d9 calc(35% + 1px),
      #fae3d9 45%,
      #bbded6 calc(45% + 1px),
      #bbded6 65%,
      #61c0bf calc(65% + 1px),
      #61c0bf 100%
    );
  background-blend-mode: overlay, overlay, exclusion, normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.col-md-4 {
  margin-bottom: 30px;
}

.card {
  padding: 30px;
  border: solid 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}
.card-title {
  margin-top: 20px;
  text-align: center;
}
.card-text {
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.card-text .fa {
  font-size: 26px;
}
.avatar {
  width: 140px;
  margin: auto;
}
.avatar img {
  border: solid 6px transparent;
  border-radius: 50%;
}
.card:hover .avatar img {
  border-color: rgb(99, 204, 131);
}

.btn {
  border-radius: 25px;
}

footer p {
  color: rgba(0, 0, 0, 0.6);
}

footer p a,
footer p a:hover {
  color: rgb(99, 204, 131);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}
